img {
    width: 50%;
  }
h1 {
    color: 	rgb(0, 102, 0); 
}
body {
    background-color:  #f2f2f2

}
  #Ruby {
    display: none;
  }
  
  #Python {
    display: none;
  } 
  
  #Javascript {
    display: none; 
  }
  
  #Rust {
    display: none;
  }